<link rel="stylesheet" href="/stylesheets/footer.css">

<footer class="footer bg-light py-3 mt-5">
    <div class="container">
        <span class="text-muted">&copy VITians 2021</span>
    </div>
</footer>