<%- layout('layout/boilerplate.ejs') %>
<link rel="stylesheet" href="/stylesheets/home.css"> 

<div class="home-container">
    <h1>Vitrendz Recruitment Task</h1>
    <h2>CRUD App for VITians</h2>
    <p>Submitted by: <span>Abhishek Agarwal</span></p>
    <p class="reg-number">Registeration number - 20BDS0070</p>
    <a href="https://github.com/Abhii-Agarwal09/Vitrendz_Recruitment_Task-VITians_CRUD_APP" class="btn btn-outline-primary">View project on github</a>
    <a href="/students" class="btn btn-success">View Students</a>
</div>