<%- layout('layout/boilerplate.ejs') %>

<div class="container mt-5 mb-5">
    <form
        action="/students"
        method="POST"
        class="needs-validation"
        novalidate
    >
        <h1 class="mb-5 text-center">Create New Student</h1>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default"
                >Name</span
            >
            <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
                name="student[name]"
                required
            />
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default"
                >Registeration Number</span
            >
            <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
                name="student[registerNumber]"
                required
            />
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default"
                >DOB</span
            >
            <input
                type="date"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
                name="student[dob]"
                required
            />
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default"
                >Department</span
            >
            <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
                name="student[department]"
                required
            />
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default"
                >Graduation year</span
            >
            <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
                name="student[graduationYear]"
                required
            />
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default"
                >CGPA</span
            >
            <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
                name="student[cgpa]"
                required
            />
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="btn-container text-center">
            <a href="/students" class="btn btn-outline-primary"
                >Cancel</a
            >
            <button class="btn btn-success m-1">Save</button>
        </div>
    </form>
</div>
